.menu {
    width: 100%;
    border-bottom: solid 1px #eaeaea;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem
}

.menu ul li {
    cursor: pointer;
    font-weight: 500;
    padding: .5rem;
}

.menu .block-right{
    display: flex;
    gap:1rem;
}

.menu .block-right .avatar img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}