<app-header></app-header>
<div>
    <h3>Hola soy {{username}}</h3>

    <button (click)="login()" class="sign-in">
        Iniciar sesion (Simular)
    </button>
</div>

<div *ngFor="let esto of [1,1,1]">
    <img appImgNotFound class="imagen" src="httppppp://images.unsplash.com/photo-1650239555612-192617d359a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
</div>

<div *ngIf="isValid else plantillaVacia">
    Este mensaje sale por que el valor {{isValid}} 🙌
</div>


<ng-template #plantillaVacia>
    Esto sale cuadno no existen resultado 😉
</ng-template>